<p id="notice"><%= notice %></p>

<h1>Parcels</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.all %></td>
        <td><%= parcel.user.name %></td>
        <td><%= link_to 'Show User', [@parcel] %></td>
        <td><%= link_to 'Edit Parcel', edit_user_parcel_path(@user, parcel) %></td>
        <td><%= link_to 'Cancel Parcel', [@user, parcel], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_user_parcel_path(@user) %>