<h1>Log In Here:</h1>

<%= flash[:not_logged_in] %>
<%= flash[:nonexistent_user] %>
<br>
<%= form_with url: login_path do |f| %>
    <%= f.label :email, class: 'has-text-weight-bold has-text-light is-size-5' %>
    <%= f.email_field :email %>
    <br>
    <br>
    <%= f.label :password, class: 'has-text-weight-bold has-text-light is-size-5' %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit 'Log In', class: 'button is-dark is-outlined has-text-weight-bold' %>
<% end %>